In [5]:
#!pip install psycopg2
#!pip install psycopg2-binary
cur.execute('drop table signup_page')

In [1]:
# importing psycopg2 module and creating a connection string.
import psycopg2
conn=psycopg2.connect(user="postgres",
                      host="localhost",
                      password="root11",
                      port=5432,
                      database="webappdb")

print(conn) # checking if connection is success or not
cur=conn.cursor() # creating a cursor object.

<connection object at 0x000001A81B0F6BD0; dsn: 'user=postgres password=xxx dbname=webappdb host=localhost port=5432', closed: 0>

In [2]:
cur.execute('SELECT version()') # if connectes printing client version
is_conn=cur.fetchone()
print(is_conn)

('PostgreSQL 16.1, compiled by Visual C++ build 1937, 64-bit',)

In [3]:
# creating a table in the database

cur.execute("""
    CREATE TABLE if not exists signup_page (
        first_name VARCHAR(50),
        last_name VARCHAR(50),
        user_name VARCHAR(50),
        password VARCHAR(25)
    );
""")
conn.commit()

In [6]:
cur.execute("truncate table signup_page;")

In [10]:
cur.execute("select * from signup_page;")
conn.commit()
for i in cur.fetchall():
    print(i)

('Manoj', 'Tripathi', 'm01', 'manoj01')

In [9]:
# inserting a single record

cur.execute("""INSERT INTO signup_page (first_name,last_name,user_name,password) values
             ('Manoj','Tripathi','m01','manoj01');""")

conn.commit()

cur.execute("select * from signup_page;")
print(cur.fetchone())

('Manoj', 'Tripathi', 'm01', 'manoj01')

In [11]:
# -- inset multiple records manually

cur.execute("""INSERT INTO signup_page (first_name,last_name,user_name,password) values
            ('anshu','joshi','a01','anshu01'),
            ('tannu','joshi','t01','tannu01');
""")

conn.commit() # it will commit the changes.

cur.execute("select * from signup_page;") # getting all the records in cur

for i in cur.fetchall(): # looping over cur to get all data
    print(i)

('Manoj', 'Tripathi', 'm01', 'manoj01')
('anshu', 'joshi', 'a01', 'anshu01')
('tannu', 'joshi', 't01', 'tannu01')

In [13]:
# -- inserting records by user input

n_records=int(input("How many reocrds ? ")) # how many records

for i in range(n_records):  # loop n_records times
    print(f"Please enter your {i+1}th record :")  # printing iteration no

    first_name=input("Enter first name :") # taking user input
    last_name=input("Enter last name: ")
    user_name=input("Enter user name : ")
    password=input("Enter password: ")

    # making a querry sting so, that it will store input values.
    querry="""INSERT INTO signup_page (first_name,last_name,user_name,password) 
    values(%s,%s,%s,%s);
    """
    values=(first_name,last_name,user_name,password)

    cur.execute(querry,values) # executing querry.
    conn.commit() # commeting changes.

    print(f"{i+1}th record inserted successfully")

Please enter your 1th record :
1th record inserted successfully
Please enter your 2th record :
2th record inserted successfully

In [14]:
# print multiple records

cur.execute("select * from signup_page")

for i in cur.fetchall():
    print(i)

('Manoj', 'Tripathi', 'm01', 'manoj01')
('anshu', 'joshi', 'a01', 'anshu01')
('tannu', 'joshi', 't01', 'tannu01')
('rahul', 'joshi', 'r01', 'rahul01')
('dev', 'bisht', 'd01', 'dev01')

In [17]:
# -- login check

l_user_name=input("Enter your username:")
l_password=input("Enter your password: ")

login_query = "SELECT first_name FROM signup_page WHERE user_name = %s AND password = %s;"
values = (l_user_name, l_password)

cur.execute(login_query, values)
result = cur.fetchone()

if result:
    print(f"Login successful. Welcome, {result[0]}!")
else:
    print("Invalid username or password. Please try again or Sign Up.")

Login successful. Welcome, tannu!